.wrapper {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 5px;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }

  .mid {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }

  .bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }

  .btn {
    margin-bottom: 2rem;
    margin-top: 10px;
    height: 2rem;
    cursor: pointer;
  }
}
