<div class="wrapper">
  <h1>Payment</h1>
  <p-dropdown
    [options]="payments"
    [showClear]="true"
    placeholder="Cash"
    [style]="{ width: '30rem' }"
  />
  <div class="ban">
    <p-dropdown
      [options]="payments"
      [showClear]="true"
      placeholder="..."
      [style]="{ width: '30rem' }"
    />
  </div>
  <div class="mixed">
    <p-dropdown
      [options]="coins"
      [showClear]="true"
      placeholder="Bs"
      [style]="{ 'margin-right': '50px' }"
    />
    <p-inputNumber
      mode="decimal"
      [minFractionDigits]="2"
      [maxFractionDigits]="5"
      placeholder="0"
      [style]="{ 'margin-right': '20px' }"
    ></p-inputNumber>
    <p-button icon="pi pi-search" severity="success" />
  </div>

  <p-button
    label="Add"
    severity="success"
    [style]="{ width: '20rem', 'margin-bottom': '20px ' }"
  />
</div>
