    
<div >
    <p-table [value]="invoices" [tableStyle]="{ 'max-width': '100%', 'width': '800px', 'max-height': '350px'}" 
    [scrollable]="true" 
    scrollHeight="350px"
    styleClass='p-datatable-sm'
    >
        <ng-template pTemplate="header" >
            <tr>
                <th>ID</th>
                <th>Client ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Total</th>
                <th>Void</th>
                <th>View</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
            <tr>
                <td>{{ invoice.invoice_id }}</td>
                <td>{{ invoice.pid_prefix }}-{{ invoice.pid }}</td>
                <td>{{ invoice.name }}</td>
                <td>{{ invoice.surname }}</td>
                <td>USD {{ invoice.total }}</td>
                <td>
                    <span *ngIf="invoice.void" class="text-red-500">Void</span>
                    <span *ngIf="!invoice.void" class="text-green-500">Active</span>
                </td>
                <td>
                    <a [routerLink]="['/invoice', invoice.invoice_id]">
                        <p-button [text]="true" label="View" icon="pi pi-eye" class="p-button-sm p-button-text"></p-button>
                    </a>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>

