<p-sidebar [(visible)]="sidebarVisible">
    <div class="flex gap-2 items-center justify-center">
        <i class="pi pi-bitcoin text-2xl text-yellow-400 m-0"></i>
        <h3 class="m-0 select-none">MEG</h3>
    </div>
    <div>
        <ul class="list-none p-0 w-full">
            <a *ngFor="let route of routes" routerLink="{{route.path}}" (click)="sidebarVisible = false" class="block p-4 rounded w-full hover:bg-slate-200 transition-colors no-underline text-gray-800 cursor-pointer">
                <li>{{ route.title }}</li>
            </a>
        </ul>
    </div>
</p-sidebar>

<div id="navbar" class=" w-full bg-white flex justify-between rounded-md h-12">
    <p-button (click)="sidebarVisible = true" label="" [text]="true" severity="help" icon="pi pi-bars"></p-button>
    <p-button (click)="dialogVisible = true" [text]="true" severity="secondary" class="key-group">
        <p class="">Ayuda (Ctrl + Alt + H)</p>
    </p-button>
</div>

<p-dialog [(visible)]="dialogVisible" header="Atajos de teclado" [modal]="true" [style]="{ width: '100%', 'max-width': '600px' }">
    <div class="flex flex-col gap-4">
        <h3 class="font-bold m-0 mt-2">General</h3>
        <div class="flex justify-between">
            <p class="m-0">Ctrl + Alt + H</p>
            <p class="m-0">Mostrar/Ocultar atajos de teclado</p>
        </div>
        <div class="flex justify-between">
            <p class="m-0">Ctrl + Alt + S</p>
            <p class="m-0">Mostrar/Ocultar barra lateral</p>
        </div>
        <h3 class="font-bold m-0 mt-2">Dashboard</h3>
        <div class="flex justify-between">
            <p class="m-0">Ctrl + Alt + C</p>
            <p class="m-0">Cerrar caja</p>
        </div>
            
    </div>
</p-dialog>