<div class="w-full">
    <div class="w-full flex justify-center items-center gap-4">
        <p-button icon="pi-angle-left pi" [text]="true" [rounded]="true" (onClick)="reduceDate()"></p-button>
        <p class="text-md">{{ date.toISOString().split('T')[0] }}</p>
        <p-button icon="pi-angle-right pi" [text]="true" [rounded]="true" (onClick)="increaseDate()"></p-button>
    </div>
    <div class="flex flex-col gap-1 justify-center items-center pb-4">
        <p-button label="Cerrar caja" icon="pi pi-power-off" (onClick)="confirmClose()"
            [disabled]="closingStatement.closing_time !== ''"></p-button>
        <p class="text-xs m-0" *ngIf="closingStatement.closing_time !== ''">
            Closed at: 
            {{closingStatement.closing_time.split(" ")[1]}}
        </p>
    </div>
    <div class="flex flex-row flex-wrap gap-4 w-full justify-center items-center">
        <div class="shadow-md rounded-md border p-4 text-slate-600 w-56">
            <p class="mb-0 text-center">Total del dia</p>
            <p class="text-2xl font-bold m-0 text-center">USD {{closingStatement.day_total.toFixed(2)}}</p>
        </div>
        <div class="shadow-md rounded-md border p-4 text-slate-600 w-56">
            <p class="mb-0 text-center">Numero de facturas</p>
            <p class="text-2xl font-bold m-0 text-center"> {{closingStatement.invoice_quantity}}</p>
        </div>
        <div class="shadow-md rounded-md border p-4 text-slate-600 w-56">
            <p class="mb-0 text-center">Factura promedio</p>
            <p class="text-2xl font-bold m-0 text-center"> USD
                {{closingStatement.average_invoice ? closingStatement.average_invoice.toFixed(2) : 0}}
            </p>
        </div>
    </div>
    <div class="w-full mt-4 flex flex-col md:flex-row gap-4" id="second-row">
        <div class="max-w-lg shadow-md rounded-md border p-4">
            <h3 class="m-0 mb-2 text-slate-700">Today's Invoices</h3>
            <app-mini-invoice-table [invoices]="closingStatement.invoices"></app-mini-invoice-table>
        </div>
        <div class="max-w-lg shadow-md rounded-md p-4">
            <h3 class="m-0 mb-2 text-slate-700">Payments by bank</h3>
            <app-bank-chart [data]="closingStatement.banks"></app-bank-chart>
        </div>
    </div>
</div>

<p-toast position="bottom-right"></p-toast>
<p-confirmDialog></p-confirmDialog>